.danger {
    background-color: red;
    color: white;
}

.primary {
    background-color: blue;
    color: white;
}

.warning {
    background-color: rgb(236, 239, 89);
    color: black;
}

.dark {
    background-color: #000;
}

.card-small {
    width: 380px;
}

.card-medium {
    width: 480px;
}

.card-large {
    width: 580px;
}